<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include header.html %}

<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
	var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">WATEREALS BLOG</a>
    <a class="extra" href="/">Home</a>
	<a class="extra" href="/">Machine Learning</a>
	<a class="extra" href="/">Other Skills</a>
	<a class="extra" href="/">About</a>
  </div>

  {{ content }}

  {% include footer.html %}

</div>

</body>
</html>
